@font-face {
	font-family: "LeagueGothic";
	src: url("./leaguegothic-regular-webfont.ttf");
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
h1, .title {
	font-size: 36pt;
	font-weight: bold;
	margin-top: 0;
}
h2 {
	color: #999999;
	font-size: 24pt;
	font-weight: normal;
	margin-bottom: 1em;
}
body > div {
	width: 100%;
	height: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}
div.content, input {
	font-family: "LeagueGothic";
	font-size: 24pt;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
div.content p { 
	display: none;
}
img {
	max-width: 600px;
}
a {
	color: #FF9C00;
	text-shadow: 2px 2px #CCCCCC;
}
a[disabled] {
	color: #777777;
	pointer-events: none;
}
.trophy {
	text-align: center;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 300px;
}
.trophy p {
	font-size: 18pt;
	vertical-align: middle;
	float: left;
	margin: 0;
}
.trophy img {
	max-width: 50px;
	float: left;
}